In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from mpl_toolkits import mplot3d
import pickle # convert model into bytestream

pd.options.mode.chained_assignment = None

In [2]:
ts_data = pd.read_csv("df1.csv")

''' Try to make more features along with Months -X , labels = Amount like Crd and Gender '''

In [8]:
X = ts_data['Months']
y = ts_data['Amount']

ts_data = pd.concat( [X , y] , axis=1 )

In [11]:
ts_data.sort_values( by=['Months'])

       Months    Amount
7597      0.0   38605.0
20633     0.0   56241.0
3672      0.0  265602.0
8637      0.0  161903.0
8635      0.0  168156.0
...       ...       ...
6470     11.0  282037.0
18276    11.0   36435.0
18275    11.0  211523.0
11329    11.0  244637.0
11446    11.0   14761.0

[26052 rows x 2 columns]

In [29]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
std.fit_transform(ts_data)

array([[ 1.3264225 , -0.71740367],
       [-1.28856965, -1.2017757 ],
       [-1.28856965, -0.53049544],
       ...,
       [-0.4169056 ,  1.05381445],
       [ 1.61697719, -0.66210647],
       [ 1.3264225 ,  0.27166811]])

In [30]:
X = ts_data['Months']
y = ts_data['Amount']

from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test  = train_test_split( X , y , test_size=0.2 )

In [12]:
from tensorflow import keras

In [31]:
rnn_model = keras.models.Sequential([
    # Stacked LSTM 
    keras.layers.LSTM( units = 50 , activation ="relu" , input_shape=(1  , 1 ) , return_sequences=True )
    , keras.layers.LSTM( units=25 , activation="relu" )
    , keras.layers.Dense(1 )
    
])

In [32]:
rnn_model.compile( loss='mse' , optimizer = 'adam' , metrics = 'mse')

In [33]:
history  = rnn_model.fit(  X_train , y_train , epochs = 10 )

Epoch 1/10

652/652 [==============================] - 4s 2ms/step - loss: 35009351680.0000 - mse: 35009351680.0000
Epoch 2/10
652/652 [==============================] - 2s 2ms/step - loss: 32761835520.0000 - mse: 32761835520.0000
Epoch 3/10
652/652 [==============================] - 2s 3ms/step - loss: 27316926464.0000 - mse: 27316926464.0000
Epoch 4/10
652/652 [==============================] - 2s 3ms/step - loss: 21045362688.0000 - mse: 21045362688.0000
Epoch 5/10
652/652 [==============================] - 2s 3ms/step - loss: 17266653184.0000 - mse: 17266653184.0000
Epoch 6/10
652/652 [==============================] - 2s 3ms/step - loss: 16180871168.0000 - mse: 16180871168.0000
Epoch 7/10
652/652 [==============================] - 2s 2ms/step - loss: 15938070528.0000 - mse: 15938070528.0000
Epoch 8/10
652/652 [==============================] - 2s 2ms/step - loss: 15752580096.0000 - mse: 15752580096.0000
Epoch 9/10
652/652 [==============================] - 2s 2ms/step - loss: 15553019904.0000 - mse: 15553019904.0000
Epoch 10/10
652/652 [==============================] - 2s 2ms/step - loss: 15339541504.0000 - mse: 15339541504.0000

In [34]:
y_pred_rnn = rnn_model.predict( X_test)

163/163 [==============================] - 1s 1ms/step

In [35]:
from sklearn.metrics import r2_score 

r2_score( y_test  , y_pred_rnn )

-0.43898026866615214